<div class="container">
    <ul class="list-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registre de tasques</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>numero</th>
                            <th>nom</th>
                            <th>data</th>
                            <th>final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#tasca of tasques">
                            <td>
                                {{ tasca.numero }}
                            </td>
                            <td>
                                {{ tasca.nom }}
                            </td>
                            <td>
                                {{ tasca.data }}
                            </td>
                            <td>
                                {{ tasca.final }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <li *ngFor="#message of messages" class="list-group-item">{{ message }}</li>
    </ul>
</div>
