<div class="container">
    <div class="row">

        <div class="col-sm-8">
            <!-- TAULA-LLISTA DE TASQUES -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Tasques actives</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>tasca</th>
                                <th>temps</th>
                                <th>operació</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="#tasca of tasques">
                                <td>
                                    <h4><label class="label label-info">{{ tasca.nom }}</label></h4>
                                </td>
                                <td>
                                    <h4>
                                        <label class="label label-info">
                                            <span *ngIf="tasca == primera">{{ outTemps }}</span>
                                            <span *ngIf="tasca != primera">{{ espera }}</span>
                                        </label>
                                    </h4>
                                </td>
                                <td>
                                    <button  class="btn btn-default" (click)="esborrarTasca(tasca)">Esborra</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ----- -->
        </div>

        <div class="col-sm-4">
            <div class="panel panel-info">
            <div class="panel-heading">Nova tasca</div>
                <div class="panel-body">
                    <input #entrada>
                    <button  class="btn btn-default" (click)="afegirTasca(entrada.value)">Afegeix</button>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Control del temps</div>
                <div class="panel-body">
                    <button  class="btn btn-default" (click)="aturaComptador()"><div class="glyphicon glyphicon-pause"></div></button>
                    <button  class="btn btn-default" (click)="resetComptador()"><div class="glyphicon glyphicon-play"></div></button>
                    <h4><label class="label label-info">{{ horaActual }}</label></h4>
                </div>
            </div>
        </div>
    </div>
</div>
